[submodule "submodules/proja.git"]
	path = submodules/proja.git
	url = https://github.com/md-software/proja.git
[submodule "submodules/projb.git"]
	path = submodules/projb.git
	url = https://github.com/md-software/projb.git
